body {
    font: 1em "Helvetica", Futura, sans-serif;
    margin: 1em;
  }
  
  ol, ul {
    padding-left: 1em;
  }
  
  .header {
    margin-bottom: 1em;
  }

  #hint {
    
    margin-bottom: 1.5em;
  }
  
  .card {
    background-color: #ddd;
    border: 0px;
    border-radius: 0.5em;
    float: left;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    height: 4rem;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 0.25em;
    text-align: center;
    width: 8em;
  }

  .card-red {
    background-color: #fcc;
  }

  .card-blue {
    background-color: #ccf;
  }
  
  .card-neutral {
    background-color: #666;
    color: #fff;
  }
  
  .card-bomb {
    background-color: #000;
    color: #fff;
  }

  .card:focus {
    outline: none;
  }
  
  .kbd-navigation .card:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  